node_modules
**/node_modules
.git
.gitignore
**/.turbo
**/dist
**/.next
**/coverage
**/*.log
**/.env
**/.env.*
!.env.example
!.env.production.example
README.md
CHANGELOG.md
docs/
load-test/
scripts/
